function Game.new 2
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 7
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 64
call String.new 1
push constant 48
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 65
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 64
call String.new 1
push constant 51
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 64
call String.new 1
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 50
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 64
call String.new 1
push constant 53
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 68
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 64
call String.new 1
push constant 101
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 51
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 64
call String.new 1
push constant 48
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 64
call String.new 1
push constant 48
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 68
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 66
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 54
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 49
call String.appendChar 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
call Array.new 1
pop this 0
push constant 0
push this 0
add
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 1
push constant 7
push constant 11
call Level.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 1
push local 0
add
pop pointer 1
push that 0
push constant 2
push constant 8
push constant 48
call Level.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 2
push local 0
add
pop pointer 1
push that 0
push constant 3
push constant 57
push constant 62
call Level.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 0
add
push constant 3
push local 0
add
pop pointer 1
push that 0
push constant 4
push constant 57
push constant 6
call Level.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 0
add
push constant 4
push local 0
add
pop pointer 1
push that 0
push constant 5
push constant 62
push constant 29
call Level.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 0
add
push constant 5
push local 0
add
pop pointer 1
push that 0
push constant 6
push constant 41
push constant 57
call Level.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 0
add
push constant 6
push local 0
add
pop pointer 1
push that 0
push constant 7
push constant 57
push constant 11
call Level.new 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 100
push constant 1
push constant 1
push constant 1
push constant 0
push constant 0
call Hero.new 6
pop this 1
call Settings.new 0
pop this 2
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 7
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
pop pointer 1
push that 0
call String.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
return
function Game.play 13
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
not
pop local 3
push constant 0
pop local 4
push constant 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Level.getMap 1
pop local 10
push local 1
call Level.getLoc 1
pop local 6
push local 1
call Level.getEndLoc 1
pop local 7
push constant 1
neg
pop local 8
push constant 0
pop local 2
push constant 0
not
pop local 12
label WHILE_EXP0
push local 3
not
if-goto WHILE_END0
push constant 0
pop local 4
push local 1
call Level.draw 1
pop temp 0
push this 1
push local 6
call Hero.setLoc 2
pop temp 0
push this 1
call Hero.draw 1
pop temp 0
push this 1
call Hero.display 1
pop temp 0
label WHILE_EXP1
push local 4
not
not
if-goto WHILE_END1
push constant 30
call Sys.wait 1
pop temp 0
push this 1
call Hero.getLoc 1
pop local 6
call Keyboard.keyPressed 0
pop local 5
label WHILE_EXP2
push local 5
push constant 0
eq
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 5
goto WHILE_EXP2
label WHILE_END2
push local 5
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 3
call Hero.setPos 2
pop temp 0
push local 6
push local 6
push constant 8
call Math.divide 2
push constant 8
call Math.multiply 2
sub
pop local 8
push local 8
push constant 0
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 6
push constant 1
sub
pop local 8
goto IF_END1
label IF_FALSE1
push constant 1
neg
pop local 8
label IF_END1
label IF_FALSE0
push local 5
push constant 131
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push constant 2
call Hero.setPos 2
pop temp 0
push local 6
push constant 8
call Math.divide 2
pop local 8
push local 8
push constant 0
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 6
push constant 8
sub
pop local 8
goto IF_END3
label IF_FALSE3
push constant 1
neg
pop local 8
label IF_END3
label IF_FALSE2
push local 5
push constant 132
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
push constant 4
call Hero.setPos 2
pop temp 0
push local 6
push local 6
push constant 8
call Math.divide 2
push constant 8
call Math.multiply 2
sub
pop local 8
push local 8
push constant 7
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push local 6
push constant 1
add
pop local 8
goto IF_END5
label IF_FALSE5
push constant 1
neg
pop local 8
label IF_END5
label IF_FALSE4
push local 5
push constant 133
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 1
push constant 1
call Hero.setPos 2
pop temp 0
push local 6
push constant 8
call Math.divide 2
pop local 8
push local 8
push constant 7
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 6
push constant 8
add
pop local 8
goto IF_END7
label IF_FALSE7
push constant 1
neg
pop local 8
label IF_END7
label IF_FALSE6
push local 5
push constant 130
lt
push local 5
push constant 133
gt
or
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 1
neg
pop local 8
label IF_FALSE8
push constant 0
pop local 5
push local 8
push constant 1
neg
eq
not
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push local 8
push local 10
add
pop pointer 1
push that 0
pop local 9
push local 9
push constant 49
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 1
push local 8
call Hero.move 2
pop temp 0
label IF_FALSE10
push local 9
push constant 50
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 0
not
pop local 4
push constant 1
pop local 2
push constant 0
not
pop local 12
label IF_FALSE11
push local 9
push constant 51
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 0
not
pop local 4
push constant 1
neg
pop local 2
push constant 0
pop local 12
label IF_FALSE12
push local 9
push constant 52
eq
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
call Panel.princessMess 0
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
push constant 0
pop local 5
label WHILE_EXP3
push local 5
push constant 0
eq
not
if-goto WHILE_END3
push constant 30
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
pop local 5
goto WHILE_EXP3
label WHILE_END3
push constant 0
not
pop local 4
push constant 0
pop local 3
push constant 0
pop local 2
push constant 0
pop local 5
label IF_FALSE13
push local 9
push constant 53
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
call Panel.shopMess 0
pop temp 0
push constant 0
pop local 5
label WHILE_EXP4
push local 5
push constant 49
eq
push local 5
push constant 50
eq
or
push local 5
push constant 51
eq
or
push local 5
push constant 81
eq
or
not
not
if-goto WHILE_END4
push constant 30
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
pop local 5
goto WHILE_EXP4
label WHILE_END4
push local 5
push constant 49
eq
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push this 1
call Hero.buyHP 1
pop temp 0
goto IF_END15
label IF_FALSE15
push local 5
push constant 50
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push this 1
call Hero.buyATK 1
pop temp 0
goto IF_END16
label IF_FALSE16
push local 5
push constant 51
eq
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push this 1
call Hero.buyDEF 1
pop temp 0
goto IF_END17
label IF_FALSE17
call Panel.clear 0
pop temp 0
label IF_END17
label IF_END16
label IF_END15
push constant 0
pop local 5
label IF_FALSE14
push local 9
push constant 54
eq
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push this 1
call Hero.getKeys 1
push constant 0
gt
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push this 1
call Hero.useKey 1
pop temp 0
push this 1
push local 8
call Hero.move 2
pop temp 0
push local 1
push local 8
call Level.remove 2
pop temp 0
goto IF_END19
label IF_FALSE19
call Panel.keysMess 0
pop temp 0
label IF_END19
label IF_FALSE18
push local 9
push constant 57
gt
push local 9
push constant 97
lt
and
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push this 1
push local 9
call Hero.take 2
pop temp 0
push this 1
push local 8
call Hero.move 2
pop temp 0
push local 1
push local 8
call Level.remove 2
pop temp 0
push local 9
call Panel.propMess 1
pop temp 0
label IF_FALSE20
push local 9
push constant 96
gt
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push local 9
push this 1
call Hero.getHP 1
push this 1
call Hero.getATK 1
push this 1
call Hero.getDEF 1
call Panel.monsMess 4
pop temp 0
push constant 0
pop local 5
label WHILE_EXP5
push local 5
push constant 49
eq
push local 5
push constant 50
eq
or
not
not
if-goto WHILE_END5
push constant 30
call Sys.wait 1
pop temp 0
call Keyboard.keyPressed 0
pop local 5
goto WHILE_EXP5
label WHILE_END5
push local 5
push constant 49
eq
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push this 1
push local 9
call Hero.fight 2
pop local 11
push local 11
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push local 1
push local 8
call Level.remove 2
pop temp 0
push this 1
push local 8
call Hero.move 2
pop temp 0
push local 1
push local 8
call Level.remove 2
pop temp 0
push this 1
call Hero.showWin 1
pop temp 0
label IF_FALSE23
goto IF_END22
label IF_FALSE22
call Panel.clear 0
pop temp 0
label IF_END22
push constant 0
pop local 5
label IF_FALSE21
label IF_FALSE9
goto WHILE_EXP1
label WHILE_END1
push local 0
push local 2
add
pop local 0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 12
if-goto IF_TRUE24
goto IF_FALSE24
label IF_TRUE24
push local 1
call Level.getLoc 1
pop local 6
goto IF_END24
label IF_FALSE24
push local 1
call Level.getEndLoc 1
pop local 6
label IF_END24
push local 1
call Level.getMap 1
pop local 10
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.dispose 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 7
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
call Array.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
call Array.dispose 1
pop temp 0
push this 1
call Hero.dispose 1
pop temp 0
push this 2
call Settings.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
